.add-task-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    left: 1rem;
    bottom: 5.5rem;
    z-index: 1;
    padding: 0.5rem;
    width: calc(100% - 2rem);
    border-radius: 0.5rem;
    background-color: var(--secondary-background);
}

input,
textarea {
    height: 3rem;
    resize: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--dark-highlight);
    font: inherit;
    background-color: var(--primary-background);
}

input:focus,
textarea:focus {
    outline: 2px solid var(--dark-highlight);
}

.description-input-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.description-input {
    height: 6rem;
    flex-grow: 1;
}

.add-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 1000px;
    border: none;
    font-size: 1.75rem;
    color: var(--primary-background);
    background-image: linear-gradient(
        to right bottom,
        var(--dark-highlight),
        var(--light-highlight)
    );
}
