.authFormPageContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.authForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
