.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.25rem;
    border-radius: 1rem;
    background-image: linear-gradient(
        to right bottom,
        var(--dark-highlight),
        var(--light-highlight)
    );
    color: var(--primary-background);
}
