.primaryButton {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 4.5rem;
  padding: 0;
  padding-bottom: 0;
  border-radius: 1.5rem;
  border: none;
  font-size: 20px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--primary-colour);
  background-color: var(--accent-colour);
  transition: opacity 0.3s ease;
}

.inactive {
  opacity: 0.5;
  cursor: not-allowed;
}

.indicatorBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-bottom-left-radius: 8px; /* Match button corners */
  border-bottom-right-radius: 8px; /* Match button corners */
  /* transition: width 0.5s ease-in-out; */
  background-color: white;
  opacity: 0.3;
}