.registrationSuccessPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.registrationSuccessPageContent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.timerBarBackground {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--surface-secondary);
}

.timerBarIndicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background-color: #ec05ff;
}
