

.secondaryText {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
  color: var(--secondary-colour);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
