.task-card {
    display: flex;
    align-items: center;
    height: 3.25rem;
    margin-bottom: 0.25rem;
    border-radius: 0.25rem;
    color: var(--dark-highlight);
    background-color: var(--primary-background);
}

.title {
    font-size: 1.125rem;
}
