.taskCard {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  height: 4.5rem;
  border-radius: 1.5rem;
  background-color: var(--surface-colour);
}

.taskStatusContainer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
}

.icons {
  font-size: 2rem;
}

.taskName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis; /* Not working */
  white-space: nowrap;
  color: var(--primary-colour);
}
