.taskListTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  height: 48px;
  color: var(--secondary-colour);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.taskListContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
  scrollbar-width: none;
}

.taskList::-webkit-scrollbar {
  display: none;
}

.taskListTopMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, var(--background-colour), rgba(0, 0, 0, 0));
}

.taskListBottomMask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, var(--background-colour), rgba(0, 0, 0, 0));
}
