.taskCard {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  height: 4.5rem;
  border-radius: 1.5rem;
  background-color: var(--surface-colour);
}

.taskStatusContainer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
}

.taskStatusIcon {
  font-size: 2rem;
  color: var(--surface-secondary)  /* Default colour, which will be overriden in most cases */
}

.taskNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  padding-right: 1rem;
  font-size: 1.25rem;
  color: var(--primary-colour);
}

.taskNameText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
