.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 880px;
  max-height: 100%;
  padding: 2rem;
  border-radius: 4rem;
  background-color: var(--background-colour);
}
