.App {
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 880px;
  max-height: 100%;
  padding: 2rem;
  border-radius: 4rem;
  background-color: var(--background-colour);
}

.surface {
  background-color: var(--surface-colour);
  color: var(--primary-colour);
  width: 12.5rem;
  height:7rem;
  border: none;
  border-radius: 2rem;
}
